:root {
  --background: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;

  --media-width-mobile: 800px;
}

root,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 50px;
  /* border-top: 1px solid red; */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  /* border: 1px solid green; */
  z-index: 1;
}

a {
  text-decoration: none;
}

.button-get-coffee {
  width: 270px;
  height: 40px;
  /* font-size: 0.8em; */
  background-color: transparent; // var(--background);
  color: var(--text-color);
  border: 2p solid;
  border-color: var(--button);
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
}

.button-get-coffee:hover {
  background-color: var(--button);
}

.button-get-coffee-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .button-get-coffee-mobile {
    display: block;
  }
}

div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.nav-desktop {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 800px;
  justify-content: space-evelin;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  /* border: 1px solid yellow; */
}

.nav-mobile {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 70px;
  justify-content: space-evelin;
  align-items: center;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--background);
  box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: flex;
  }
}

nav menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  padding: 0 50px;
  box-sizing: border-box;
}

line {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: var(--green);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition-duration: 0.4s;
  z-index: 998;
  position: absolute;
  top: 70px;
  left: 0;
  background: black;
}

aside p {
  display: flex;
  align-items: center;
}

aside img {
  padding-right: 15px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: 100%;
  /* height: 100%; */
  align-items: center;
  /* border: 1px solid yellow; */
  box-sizing: border-box;
}

main h1 {
  padding: 0;
  margin: 50px 0 0 0;
  font-size: 5em;
  text-align: center;
}

main h2 {
  padding: 0;
  margin: 0;
  font-size: 5em;
  text-align: center;
  color: var(--background);
  text-shadow: 1px 0px 0px var(--button), -1px 0px 0px var(--button),
    0px 1px 0px var(--button), 0px -1px 0px var(--button);
}

main h3 {
  display: none;
  padding: 0;
  margin: 50px 0;
  font-size: 2em;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  main h1 {
    font-size: 3em;
  }

  main h2 {
    font-size: 3em;
  }

  main h3 {
    display: block;
  }
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.logo-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-area {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.menu-item {
  flex-direction: row;
}

.menu-button {
  width: auto;
  height: 50px;
  color: var(--text-color-menu-mobile);
  background: none;
  transition-duration: 0.4s;
  border: none;
  text-align: left;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-button:hover {
  color: var(--button);
  border-left: 5px solid var(--button);
}

.menu-burger {
  display: none;
  align-items: center;
  width: auto;
  height: 50px;
  color: var(--text-color);
  background: none;
  transition-duration: 0.4s;
  border: none;
  position: fixed;
  z-index: 999;
  left: 5px;
  top: 5px;
}

.menu-burger:hover {
  color: var(--button);
  border-left: 5px solid var(--button);
}

@media only screen and (max-width: 800px) {
  .menu-burger {
    display: block;
  }
}

.menu-button-close {
  width: auto;
  height: 50px;
  background: none;
  transition-duration: 0.4s;
  border: none;
  padding: 5px;
  border-radius: 3px;
}

.menu-img {
  padding: 0;
}

.exit-button {
  width: auto;
  background: none;
  transition-duration: 0.4s;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.exit-button:hover {
  background: var(--green);
}

.exit-img {
  padding: 0;
}

.blur-left-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
}

.blur-right-top {
  position: fixed;
  right: 0;
  top: 0;
}

.title-great-code {
  content: "<Great Code/>";
  font-size: 4em;
  font-weight: bold;
}

.img-rocket-coffee {
  width: 100%;
  max-width: 800px;
}
